body {
    /* changing all text within body to Courier New, and size 18px */
    font-family:'Courier New', sans-serif;
    font-size: 18px;
}

h1, h2, h3, h4 {
    /* adding bg colour to all headings */
    background-color: rgb(255, 230, 212);
}

/* adding bg colour to footers (copyright) */
footer {
    background-color: rgb(255, 230, 212);
}
body footer {
    background-color: rgb(255, 230, 212);
}
.site-footer {
    background-color: rgb(255, 230, 212);
}
footer.site-footer {
    background-color: rgb(255, 230, 212);
}

/* calls the class="site-title" under the h1 header tag in index.html. */
.site-title {
    color: brown;
}

/* adds black border to "selfie.jpg" under "article" element in index.html (calling id="my-image") */
#my-image{
    box-shadow: 0 0 2px 1px black;
}

/* styles the hobbies list bullet points to squares */
aside ul {
    list-style: square;
}

/* boldens the first list item */
aside ul li:first-child {
    font-weight: bold;
}

/* highlights every odd numbered list item purple */
aside ul li:nth-child(odd){
    background-color:rgb(233, 210, 255);
}

/* adds border and background to navigation link as well as removes underline */
nav a {
    text-decoration: none;
    border: 3px solid rgb(187, 217, 228);
    background-color: rgb(222, 242, 249);
}

/* adds  */
nav a:hover,
nav a:focus {
    background-color: rgb(172, 208, 222);
    border: 3px solid rgb(134, 170, 183);
}