/* Guide: 14 stars = site wide code (global/mobile/desktop), 5 stars = sections, 3 stars = sub section specific code, 1 star = notes  */

/************** GLOBAL STYLES **************/

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    max-width: 100%;
    margin: 0 auto;
}

body {
    line-height: 1.5;
}

h1,
h2,
h3 {
    font-weight: bold;
}

*,
*:after,
*:before {
    box-sizing: inherit;
    line-height: inherit;
}



/************** MOBILE STYLE **************/
@media screen and (max-width:600px) {
    /* (At 600px and under, the following will happen) */

    /***** Nav Bar *****/
    .banner {
        background-color: #222222;
        max-width: 600px;
        margin: 0 auto;
        max-width: 100%;
        padding: 1em;
    }

    .head-bar {
        width: 100%;
        flex-direction: column;
        display: flex;
    }
    nav {
        text-align: center;
    }
    nav ul {
        list-style: none;
    }
    nav ul li {
        margin: 0.5em;
        width: 100%;
        display: inline-block;
    }
    nav ul li a {
        color: #c78b07;
        text-decoration: none;
    }
    nav ul a:hover {
        color: azure;
    }

    .head-logo {
        width: 100%;
        background-color: #c78b07;
    }

    .search-bar {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        
    }

    .search input{
        width: 460px;
        border: 1px solid black;
        padding: 0.3em;
    }

    .search-btn button {
        padding: 3.4px;
        background-color: #222222;
        border: 1px solid #c78b07;
    }

    .search-btn button:hover {
        background-color: #353535;
    }

    .fa-magnifying-glass::before {
        color: #c78b07;
        padding-left: 5px;
        padding-right: 5px;
    }


    /***** Welcome section *****/

    /*** General rules ***/
    /* Note: "position: absolute" places text on img */
    .welcome img {
        width: 100%;
    }
    .welcome-text {
        background-color: #22222297;
        margin-top: 2em;
        position: absolute;
        width: 97%;
        height: 46%;
        display: flex;
        flex-direction: column;
        color: white;
        text-align: left;
        padding: 1em;
    }

    /*** Specific rules for h1, p and button ***/
    /* Note: every element needs "position: relative" (to connect to the .welcome text position), AND THEN a number of px from the top, otherwise the positioning will not work. */
    .welcome h1 {
        font-size: 3.7rem;
        position: relative;
        top: -40px;
    }

    .welcome p {
        font-size: 0.8rem;
        width: 85%;
        position: relative;
        top: -80px;
    }

    .welcome button {
        background-color: #c78b07;
        border: #222222;
        padding: 20px;
        width: 40%;
        position: relative;
        top: -70px;
    }
    .blue-link2 {
        color: #222222;
        position: relative;
        font-size: 1.3em;
        text-decoration: none;
    }
    .fa-play {
        padding: 5px;
    }


    /***** About section *****/
    
    /*** General rules ***/
    .about-container {
        background-color: #ffe6ac;
        padding: 0.8em;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        color: #222222;
        position: relative;
        margin-top: -0.35em;
    }

    /*** Specific rules ***/
    .about-container img {
        position: relative;
        width: 100%
    }

    .about-container h2 {
        font-size: 3em;
        position: relative;
        top: -25px;
    }

    .about-container p {
        position: relative;
        font-size: 0.8em;
        top: -25px;
    }


    /***** Services section *****/

    /*** General rules ***/
    .services-container {
        max-width: 100%;
        margin: 0 auto;
        display: grid;
        padding: 1em;
    }

    .cards {
        /* (Adds 1 row and 6 columns) */
        grid-template-rows: 1fr;
        grid-template-columns: repeat(6, 1fr);
    }

    .cards img {
        width: 100%;
    }

    .card {
        background-color: #ffe6ac;
        margin-top: 1em;
    }

    .info {
        padding: 10px;
    }

    .info p {
        margin-top: -10px;
        font-size: 0.8em;
    }

    .card button a {
        color: white;
        text-decoration: none;
        font-size: 1.2em;
    }

    .card button {
        padding: 20px;
        margin-bottom: 10px;
        margin-left: 10px;
        background-color: #222222;
        border: #222222;
    }

    /*** Specific rules ***/
    .services-container h3 {
        font-size: 2em;
        margin-top: 10px;
    }
    .services-container h2 {
        font-size: 3rem;
        margin-bottom: -10px;
        margin-top: 10px;
    }


    /***** Our Vision *****/

    /*** General rules ***/
    .vision-container {
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        margin-top: 1em;
        background: url(../images/vision.jpg) no-repeat, center;
        background-size: 100%;
        background-position-y: -50px;
    }

    /*** Specific rules ***/
    .vision-text {
        color: white;
        padding: 1.5em;
    }

    .vision-container img {
        display: none;
    }

    .vision-text h3 {
        font-size: 1.6em;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .vision-text p {
        font-size: 0.8em;
    }

    .vision-text button {
        background-color: #13304b;
        padding: 20px 30px 20px 30px;
        border: 1px solid #c78b07;
    }

    .vision-text a {
        color: white;
        text-decoration: none;
        font-size: 1.2em;
    }

    /***** Our Team *****/

    /*** General rules ***/
    .team-container {
        max-width: 100%;
        padding: 1em;
        margin: 0 auto;
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .team-container img {
        width: 100%;
    }
 
    .team-container h3 {
        font-size: 2.5em;
        margin-bottom: 5px;
        margin-top: 20px;
    }

    .john {
        background-color: #ffe6ac;
        margin-bottom: 15px;
    }

    .bob {
        background-color: #ffe6ac;
        margin-bottom: 15px;
    }

    .team-container h4 {
        width: 100%;
        padding: 1rem;
        margin-top: -10px;
        font-size: 1.8em;
    }

    .john-text hr {
        margin-top: -10px;
        color: #c78b07;
        width: 95%;
    }

    .bob-text hr {
        margin-top: -10px;
        color: #c78b07;
        width: 95%;
    }

    .team-container h5 {
        padding-top: 1.2em;
        padding-left: 1em;
        font-size: 1em;
        margin-top: -60px;
    }

    .team-container p {
        padding: 1.2em;
        margin-top: -10px;
        font-size: 0.8em;
    }


    /***** Contact section *****/

    /*** General rules ***/
    .contact-container {
        width: 100%;
        margin: 0 auto;
        padding: 1em;
        display: flex;
        flex-direction: column;
    }

    .contact-container h3 {
        margin-top: 10px;
        margin-bottom: -30px;
        font-size: 2.5em;
    }

    .contact-container h4 {
        font-size: 2em;
        margin-bottom: 10px;
    }

    .message {
        font-size: 0.8em;
    }

    .fullname-container {
        margin-bottom: 8px;
    }
    .email-container {
        margin-bottom: 8px;
    }
    .usermessage-container {
        margin-bottom: 15px;
    }

    .usermessage-container label {
        display: block;
    }
    
    .message input {
        width: 99%;
    }

    .message textarea {
        width: 99%;
        outline: none;
        resize: none;
    }

    .send-button button {
        background-color: #222222;
        color: #c78b07;
        border: #222222;
        font-size: 1.5em;
    }

    /***** Location *****/
    .location {
        margin: 0 auto;
        max-width: 100%;
    }

    .location h4 {
        font-size: 2em;
        margin-top: 20px;
    }

    .map iframe {
        max-width: 490px;
        margin: 0 auto;
        display: block;
    }


    /***** Hours section *****/
    .hours {
        margin: 0 auto;
    }

    .hours h3 {
        font-size: 2em;
        padding-bottom: 40px;
    }

    table {
        border-collapse: collapse;
        font-size: 0.8em;
    }

    thead tr {
        background-color: #ffe6ac;
    }

    table th, td {
        border: 1px solid black;
        padding-left: 84px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 84px;
    }

    .footer {
        padding: 10px;
        background-color: #222222;
        color: #c78b07;
        font-size: 0.8em;
    }

    .footer a {
        color: #c78b07;
    }
}




/************** DESKTOP STYLES **************/

@media screen and (min-width:600px) {

}
